<button class="btn-block btn btn-primary">Iniciar uma discussão</button>

<div id="discussion_content" style="display:none;">
  <div class="title">
    <input type="text" ng-model="discussion.title" placeholder="Título" />
  </div>

  <div class="col-sm-12 ta-small" text-angular ng-model="discussion.content" ta-toolbar="[['bold', 'italics', 'ul', 'ol']]">
  </div>

  <div class="clearfix"></div>

  <div class="actions">
    <button class="btn btn-primary create-discussion">Iniciar</button> ou <a href="javascript:;" class="cancel">cancelar</a>
  </div>
</div>