<button class="btn-block btn btn-primary">Iniciar uma discussão</button>

<div id="discussion_content" style="display:none;">
  <div class="col-sm-12 ta-small" text-angular ng-model="discussion.content" ta-toolbar="[['quote', 'pre'], ['bold', 'italics', 'ul', 'ol'], ['justifyCenter', 'justifyLeft', 'justifyRight'], ['insertLink']]">
  </div>

  <div class="clearfix"></div>

  <div class="actions">
    <button class="btn btn-primary create-discussion">Iniciar</button> ou <a href="javascript:;" class="cancel">cancelar</a>
  </div>
</div>