<div class="center">
  <button type="button" class="btn btn-sm btn-primary btn-white btn-round pagination-add" ng-class="{disabled: paginationArray.length <= paginationConfig.limit}">
    <i class="ace-icon fa fa-weixin bigger-150 middle orange"></i>
    <span class="bigger-110">Carregar mais</span>

    <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
  </button>

  <p>
    Mostrando 
    <b>{{ paginationConfig.limit > paginationArray.length ? paginationArray.length : paginationConfig.limit}}</b> 
    de 
    <b>{{ paginationArray.length }}</b>.
  </p>
</div>