<ng-pluralize count="dayPassed" when="{'0': '0 dias', 
                     '1': '1 dia', 
                     'other': '{{dayPassed}} dias'}">
</ng-pluralize>,
<ng-pluralize count="hourPassed" when="{'0': '0 horas',
                     '1': '1 hora', 
                     'other': '{{hourPassed}} horas'}">
</ng-pluralize>,
<ng-pluralize count="minutePassed" when="{'0': '0 minutos',
                     '1': '1 minuto', 
                     'other': '{{minutePassed}} minutos'}">
</ng-pluralize>