<p class="alert center" ng-if="TimelogData.timelogs.length == 0"><b>Não há timelogs para esta tarefa.</b></p>

<div class="widget-box transparent" ng-repeat="(date, timelogs) in timelogsGroupedByDate">
  <div class="widget-header widget-header-small">
    <h4 class="widget-title blue smaller">
      <i class="ace-icon fa-clock-o fa"></i>
      {{ date }}
    </h4>

    <div class="widget-toolbar action-buttons">
      <a href="#" data-action="collapse">
        <i class="ace-icon fa fa-chevron-up"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="widget-main">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="timelog in timelogs">
            <td style="width:25%">
              <img ng-src="{{timelog.user.image.small}}" />
              {{ timelog.user.name }}
            </td>

            <td style="width:50%" class="right">
              <b>Tempo logado:</b>
                <span logged-time-for-timelog timelog="timelog"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>