<div class="main-container" id="main-container">
  <div class="sidebar responsive" id="sidebar">
    <div ng-include="'templates/partials/sidebar.html'"></div>
  </div>

  <div class="main-content">
    <div breadcrumb></div>
 
    <div class="page-content">
      <div class="page-content-area">
        <pagetitle></pagetitle>

        <div class="row">
          <div class="col-xs-12">

            <div ui-view>
            </div>

          </div><!-- /.col -->
        </div>
      </div>
    </div>
  </div>
</div>