<div class="main-container">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">

          <div class="space-6"></div>

          <div class="position-relative">
            <div id="signup-box" class="signup-box widget-box visible no-border">
              <div class="widget-body">
                <div class="widget-main">
                  <h4 class="header green lighter bigger">
                    <i class="ace-icon fa fa-users blue"></i>
                    Novo usuário
                  </h4>

                  <div class="space-6"></div>
                  <p> Preencha seus dados para começar: </p>

                  <form name="accountForm" ng-submit="createAccount(account)">
                    <fieldset>
                      <div class="form-group" ng-class="{ 'has-error': accountForm.owner__name.$invalid && accountForm.owner__name.$dirty }">
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Nome" name="owner__name" ng-model="account.owner_attributes.name" required />
                            <i class="ace-icon fa fa-user"></i>
                          </span>
                        </label>

                        <div ng-messages="accountForm.owner__name.$error">
                          <div ng-message="accountForm.owner__name.$error.backend">
                            <span class="help-block">{{ accountForm.owner__name.$error.backend }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': accountForm.owner__email.$invalid && accountForm.owner__email.$dirty }">
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="email" class="form-control" placeholder="Email" name="owner__email" ng-model="account.owner_attributes.email" required />
                            <i class="ace-icon fa fa-envelope"></i>
                          </span>
                        </label>

                        <div ng-messages="accountForm.owner__email.$error">
                          <div ng-message="accountForm.owner__email.$error.backend">
                            <span class="help-block">{{ accountForm.owner__email.$error.backend }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': accountForm.subdomain.$invalid && accountForm.subdomain.$dirty }">
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Subdomínio" name="subdomain" ng-model="account.subdomain" required />
                            <i class="ace-icon fa fa-globe"></i>
                          </span>
                        </label>

                        <div ng-messages="accountForm.subdomain.$error">
                          <div ng-message="accountForm.subdomain.$error.backend">
                            <span class="help-block">{{ accountForm.subdomain.$error.backend }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': accountForm.owner__password.$invalid && accountForm.owner__password.$dirty }">
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="Senha" name="owner__password" ng-model="account.owner_attributes.password" required />
                            <i class="ace-icon fa fa-lock"></i>
                          </span>
                        </label>

                        <div ng-messages="accountForm.owner__password.$error">
                          <div ng-message="accountForm.owner__password.$error.backend">
                            <span class="help-block">{{ accountForm.owner__password.$error.backend }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': accountForm.owner__password_confirmation.$invalid && accountForm.owner__password_confirmation.$dirty }">
                        <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="Repetir senha" name="owner__password_confirmation" ng-model="account.owner_attributes.password_confirmation" required />
                            <i class="ace-icon fa fa-retweet"></i>
                          </span>
                        </label>

                        <div ng-messages="accountForm.owner__password_confirmation.$error">
                          <div ng-message="accountForm.owner__password_confirmation.$error.backend">
                            <span class="help-block">{{ accountForm.owner__password_confirmation.$error.backend }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="space-24"></div>

                      <div class="clearfix">
                        <button type="reset" class="width-30 pull-left btn btn-sm">
                          <i class="ace-icon fa fa-refresh"></i>
                          <span class="bigger-110">Resetar</span>
                        </button>

                        <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                          <span class="bigger-110">Cadastrar</span>

                          <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                      </div>
                    </fieldset>
                  </form>
                </div>

                <div class="toolbar center">
                  <a href="#/" data-target="#login-box" class="back-to-login-link">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                  </a>
                </div>
              </div><!-- /.widget-body -->
            </div><!-- /.signup-box -->
          </div><!-- /.position-relative -->
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.main-content -->
</div><!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script type="text/javascript">
      window.jQuery || document.write("<script src='../assets/js/jquery.min.js'>"+"<"+"/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
    <script type="text/javascript">
      if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
      jQuery(function($) {
       $(document).on('click', '.toolbar a[data-target]', function(e) {
        e.preventDefault();
        var target = $(this).data('target');
        $('.widget-box.visible').removeClass('visible');//hide others
        $(target).addClass('visible');//show target
       });
      });
      
      
      
      //you don't need this, just used for changing background
      jQuery(function($) {
       $('#btn-login-dark').on('click', function(e) {
        $('body').attr('class', 'login-layout');
        $('#id-text2').attr('class', 'white');
        $('#id-company-text').attr('class', 'blue');
        
        e.preventDefault();
       });
       $('#btn-login-light').on('click', function(e) {
        $('body').attr('class', 'login-layout light-login');
        $('#id-text2').attr('class', 'grey');
        $('#id-company-text').attr('class', 'blue');
        
        e.preventDefault();
       });
       $('#btn-login-blur').on('click', function(e) {
        $('body').attr('class', 'login-layout blur-login');
        $('#id-text2').attr('class', 'white');
        $('#id-company-text').attr('class', 'light-blue');
        
        e.preventDefault();
       });
       
      });
    </script>