<div class="jumbotron">
  <div class="container">
    <h1>Ferramenta para gestão de projetos</h1>
    <hr/>
    <hr/>
    <p class="center">Uma ferramenta para gestão de projetos de tecnologia focada na comunicação interna.</p>
    <hr/>
    <hr/>

    <div class="row">
                  <!-- #section:pages/pricing.small-header -->
                  <div class="col-xs-4 col-sm-3 pricing-span-header">
                    <div class="widget-box transparent">
                      <div class="widget-header">
                        <h5 class="widget-title bigger lighter">Nome do pacote</h5>
                      </div>

                      <div class="widget-body">
                        <div class="widget-main no-padding">
                          <ul class="list-unstyled list-striped pricing-table-header">
                            <li>Número de usuários </li>
                            <li>Número de projetos </li>
                            <li>Espaço em disco </li>
                            <li>Domínio próprio </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- /section:pages/pricing.small-header -->

                  <!-- #section:pages/pricing.small-body -->
                  <div class="col-xs-8 col-sm-9 pricing-span-body">
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small widget-color-red3">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">tau</h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li> Ilimitado </li>
                              <li> Ilimitado </li>
                              <li> 25MB </li>

                              <li>
                                <i class="ace-icon fa fa-times red"></i>
                              </li>
                            </ul>

                            <div class="price">
                              <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
                                GRÁTIS
                              </span>
                            </div>
                          </div>

                          <div>
                            <a href="javascript:;" ui-sref="public.start-now" class="btn btn-block btn-sm btn-danger">
                              <span>Criar conta</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small widget-color-orange">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">xi</h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li> Ilimitado </li>
                              <li> Ilimitado </li>
                              <li> 250MB </li>

                              <li>
                                <i class="ace-icon fa fa-times red"></i>
                              </li>
                            </ul>

                            <div class="price">
                              <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
                                $5.99
                                <small>/mês</small>
                              </span>
                            </div>
                          </div>

                          <div>
                            <a href="javascript:;" ui-sref="public.start-now" class="btn btn-block btn-sm btn-warning">
                              <span>Criar conta</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small widget-color-blue">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">rho</h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li> Ilimitado </li>
                              <li> Ilimitado </li>
                              <li> 5GB </li>

                              <li>
                                <i class="ace-icon fa fa-times red"></i>
                              </li>
                            </ul>

                            <div class="price">
                              <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
                                $10.99
                                <small>/mês</small>
                              </span>
                            </div>
                          </div>

                          <div>
                            <a href="javascript:;" ui-sref="public.start-now" class="btn btn-block btn-sm btn-primary">
                              <span>Criar conta</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small widget-color-green">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">iota</h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li> Ilimitado </li>
                              <li> Ilimitado </li>
                              <li> 35GB </li>

                              <li>
                                <i class="ace-icon fa fa-times red"></i>
                              </li>
                            </ul>

                            <div class="price">
                              <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
                                $21.99
                                <small>/mês</small>
                              </span>
                            </div>
                          </div>

                          <div>
                            <a href="javascript:;" ui-sref="public.start-now" class="btn btn-block btn-sm btn-success">
                              <span>Criar conta</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small widget-color-grey">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">zeta</h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li> Ilimitado </li>
                              <li> Ilimitado </li>
                              <li> 100GB </li>

                              <li>
                                <i class="ace-icon fa fa-times red"></i>
                              </li>
                            </ul>
                            </ul>

                            <div class="price">
                              <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
                                $50
                                <small>/mês</small>
                              </span>
                            </div>
                          </div>

                          <div>
                            <a href="javascript:;" ui-sref="public.start-now" class="btn btn-block btn-sm btn-grey">
                              <span>Criar conta</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- /section:pages/pricing.small-body -->
                </div>
  </div>
</div>