<form class="form-horizontal" name="newProjectForm" ng-submit="createProject(newProjectForm)">
  <div class="modal-header">
      <h3 class="modal-title">Novo projeto</h3>
      <a href="javascript:;" ng-click="cancel()" class="cancel-modal">
        <i class="ace-icon fa fa-times bigger-200"></i>
      </a>
  </div>


  <div id="fuelux-wizard" class="wizard" data-initialize="wizard">
    <div class="modal-body">
      <div class="step-content pos-rel" id="step-container">
        <div class="form-group" ng-class="{ 'has-error': newProjectForm.name.$invalid && newProjectForm.name.$dirty }">
          <label class="col-xs-12 col-sm-3 control-label no-padding-right">Nome</label>

          <div class="col-xs-12 col-sm-6">
            <span class="block input-icon input-icon-right">
              <input type="text" class="width-100" ng-model="project.name" name="name">
            </span>
          </div>

          <div ng-messages="newProjectForm.name.$error" class="col-sm-9 col-sm-offset-3">
            <div ng-message="newProjectForm.name.$error.backend">
              <span class="help-block">{{ newProjectForm.name.$error.backend }}</span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': newProjectForm.description.$invalid && newProjectForm.description.$dirty }">
          <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Descrição</label>

          <div class="col-xs-12 col-sm-6">
            <span class="block input-icon input-icon-right">
              <textarea name="description" ng-model="project.description" class="width-100"></textarea>
            </span>
          </div>

          <div ng-messages="newProjectForm.description.$error" class="col-sm-9 col-sm-offset-3">
            <div ng-message="newProjectForm.description.$error.backend">
              <span class="help-block">{{ newProjectForm.description.$error.backend }}</span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': newProjectForm.client.$invalid && newProjectForm.client.$dirty }">
          <label class="col-xs-12 col-sm-3 control-label no-padding-right">Cliente</label>

          <div class="col-xs-12 col-sm-6">
            <span class="block input-icon input-icon-right">
              <input type="text" class="width-100" name="client" ng-model="project.client">
            </span>
          </div>

          <div ng-messages="newProjectForm.client.$error" class="col-sm-9 col-sm-offset-3">
            <div ng-message="newProjectForm.client.$error.backend">
              <span class="help-block">{{ newProjectForm.client.$error.backend }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success" type="submit">
        <i class="ace-icon fa fa-check bigger-110"></i>
        Salvar
      </button>
    </div>
  </div>
</form>