<div class="col-md-2">
  <span class="profile-picture">
    <img id="project_avatar"
         file-input="#project_image_input"
         submit-url="/projects/{{project.id}}.json"
         error="error(response)"
         success="success(response)"
         class="editable img-responsive editable-click editable-empty"
         src="{{project.image.medium}}"
         style="display: block;"></img>
  </span>

  <input id="project_image_input" type="file" name="project[image]" file-model="project.image" style="display:none" />
</div>

<div class="profile-user-info-striped col-md-4">
  <div class="profile-info-row">
    <div class="profile-info-name"> Nome </div>

    <div class="profile-info-value">
      <span editable-text="project.name" onbeforesave="saveProject('name', $data)">{{ project.name }}</span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> Cliente </div>

    <div class="profile-info-value">
      <span editable-text="project.client" onbeforesave="saveProject('client', $data)">{{ project.client }}</span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> Descrição </div>

    <div class="profile-info-value">
      <span editable-textarea="project.description" onbeforesave="saveProject('description', $data)">{{ project.description }}</span>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="widget-box transparent">
    <div class="widget-header widget-header-small">
      <h4 class="widget-title blue smaller">
        <i class="ace-icon fa fa-rss orange"></i>
        Discussões e atividades recentes
      </h4>

      <div class="widget-toolbar action-buttons">
        <a href="#" data-action="reload">
          <i class="ace-icon fa fa-refresh blue"></i>
        </a>
&nbsp;
        <a href="#" class="pink">
          <i class="ace-icon fa fa-trash-o"></i>
        </a>
      </div>
    </div>

    <div class="widget-body">
      <div class="widget-main padding-8">
        <!-- #section:pages/profile.feed -->
        <div id="profile-feed-1" class="profile-feed ace-scroll scroll-active" style="position: relative;"><div class="scroll-track" style="display: block; height: 200px;"><div class="scroll-bar" style="height: 63px; top: 67px;"></div></div><div class="scroll-content" style="max-height: 200px;">
          <div class="profile-activity clearfix">
            <div>
              <img class="pull-left" alt="Alex Doe's avatar" src="../assets/avatars/avatar5.png">
              <a class="user" href="#"> Alex Doe </a>
              changed his profile photo.
              <a href="#">Take a look</a>

              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                an hour ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <img class="pull-left" alt="Susan Smith's avatar" src="../assets/avatars/avatar1.png">
              <a class="user" href="#"> Susan Smith </a>

              is now friends with Alex Doe.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                2 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>
              joined
              <a href="#">Country Music</a>

              group.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                5 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>
              uploaded a new photo.
              <a href="#">Take a look</a>

              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                5 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <img class="pull-left" alt="David Palms's avatar" src="../assets/avatars/avatar4.png">
              <a class="user" href="#"> David Palms </a>

              left a comment on Alex's wall.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                8 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>
              published a new blog post.
              <a href="#">Read now</a>

              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                11 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <img class="pull-left" alt="Alex Doe's avatar" src="../assets/avatars/avatar5.png">
              <a class="user" href="#"> Alex Doe </a>

              upgraded his skills.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                12 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>

              logged in.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                12 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>

              logged out.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                16 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>

          <div class="profile-activity clearfix">
            <div>
              <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
              <a class="user" href="#"> Alex Doe </a>

              logged in.
              <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                16 hours ago
              </div>
            </div>

            <div class="tools action-buttons">
              <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
              </a>

              <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
              </a>
            </div>
          </div>
        </div></div>

        <!-- /section:pages/profile.feed -->
      </div>
    </div>
  </div>

  <div class="hr hr2 hr-double"></div>
  <div class="space-6"></div>
  <div class="center">
    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
      <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
      <span class="bigger-110">Carregar mais</span>

      <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
    </button>
  </div>
</div>