<div class="col-md-1">
  <a class="btn btn-app btn-primary no-radius" mymodal modaltemplate="templates/projects/new.html" modalctrl="NewProjectCtrl" modalsize="lg">
    Adicionar
  </a>
</div>

<div class="col-md-11">
  <form class="form-inline" role="form" id="searchForm">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-search ace-icon bigger-200"></i>
        </div>
        <input class="form-control" type="text" placeholder="Pesquisar" ng-model="search.project">
      </div>
    </div>
  </form>
</div>

<div id="projects">
  <div ng-repeat="project in ProjectService.projects | filter:search.project" class="col-md-3 project">
    <div class="projectWrapper">
      <div class="col-md-3">
        <img ng-src="http://www.gravatar.com/avatar/{{ project.gravatar }}" />
      </div>
      <div class="col-md-9">
        <p>{{ project.name }}</p>
        <p>{{ project.client }}</p>
      </div>

      <a href="#" class="removeButton" data-toggle="dropdown">
        <i class="ace-icon fa fa-bars"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
        <li>
          <a data-toggle="tab" href="#dropdown1">Arquivar</a>
        </li>

        <li>
          <a data-toggle="tab"
             href="javascript:;"
             confirm-click
             confirm-click-message="Você tem certeza?"
             confirm-click-action="ProjectService.destroy(project.id)">Excluir</a>
        </li>
      </ul>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>