<div id="task-list-header" class="clearfix">
  <div class="col-md-2">
    <a class="btn btn-app btn-primary no-radius pull-left" mymodal modaltemplate="templates/tasks/new.html" modalctrl="NewTaskCtrl" modalsize="lg">
      Adicionar
    </a>
  </div>
  <div class="col-md-10">
    <form class="form-inline pull-left" role="form" id="searchForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search ace-icon bigger-200"></i>
          </div>
          <input class="form-control" type="text" placeholder="Título ou descrição ou..." ng-model="search.$">
        </div>
      </div>
    </form>

    <div class="btn-group btn-group-lg pull-right" role="group">
      <button type="button" radio-button class="btn btn-yellow btn-app active" ng-model="search.status" value="0">
        <span class="badge badge-info badge-right">{{(TaskData.tasks|filter:{status:0}:strict).length}}</span>
        Abertas
      </button>
      <button type="button" radio-button class="btn btn-yellow btn-app" ng-model="search.status" value="3">
        <span class="badge badge-info badge-right">{{(TaskData.tasks|filter:{status:3}:strict).length}}</span>
        Reabertas
      </button>
      <button type="button" radio-button class="btn btn-yellow btn-app" ng-model="search.status" value="1">
        <span class="badge badge-info badge-right">{{(TaskData.tasks|filter:{status:1}:strict).length}}</span>
        Resolvidas
      </button>
      <button type="button" radio-button class="btn btn-yellow btn-app" ng-model="search.status" value="2">
        <span class="badge badge-info badge-right">{{(TaskData.tasks|filter:{status:2}:strict).length}}</span>
        Fechadas
      </button>
      <button type="button" radio-button class="btn btn-yellow btn-app" ng-model="search.status" value="4">
        <span class="badge badge-info badge-right">{{(TaskData.tasks|filter:{status:4}:strict).length}}</span>
        Arquivadas
      </button>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div id="tasks-list-table">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="task in TaskData.tasks | filter:search:strict">
        <td class="center" style="width:5%">
          <span class="btn btn-app btn-xs btn-task-status" ng-class="{'btn-success': task.priority == 0, 'btn-warning': task.priority == 1, 'btn-danger': task.priority == 2}">
            <i class="ace-icon fa fa-warning bigger-110"></i>
          </span>
        </td>
        <td class="title-content" style="width:20%">
          <a href="javascript:;" ui-sref="private.view_task.overview({taskId: task.id})">
            <b>{{ task.title }}</b>

            <div ta-bind ng-model="task.description">
            </div>
          </a>
        </td>
        <td style="width:20%">
          <b>Criada há</b> <span am-time-ago="task.created_at"></span>
        </td>
        <td style="width:15%">
          <b>Projeto:</b>
          <a ui-sref="private.project_view({projectId: task.project.id})">{{task.project.name}}</a>
        </td>
        <td style="width:40%">
          <b>Tempo logado:</b>
          <span logged-time-for-task task="task"></span>
        </td>
        <td>
          <div class="btn-toolbar">
            <div class="btn-group btn-corner">
              <a class="btn"
                 href="javascript:;"
                 confirm-click
                 confirm-click-message="Você tem certeza?"
                 confirm-click-action="removeTask(task.id)"><i class="ace-icon fa fa-trash-o bigger-110"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  
</div>
