<div class="modal-header">
    <h3 class="modal-title">Convidar usuário</h3>

    <a href="javascript:;" ng-click="cancel()" class="cancel-modal">
      <i class="ace-icon fa fa-times bigger-200"></i>
    </a>
</div>

<form name="invitationForm" ng-submit="createInvitation(invitationForm, user)" class="form-horizontal">
  <div class="modal-body">
    <fieldset>
      <div class="form-group" ng-class="{ 'has-error': invitationForm.email.$invalid && invitationForm.email.$dirty }">
        <label class="col-md-3 control-label no-padding-right" for="user__email"> Email </label>

        <div class="col-sm-9">
          <input type="text" id="user__email" name="email" ng-model="user.email" class="col-md-8">
        </div>

        <div ng-messages="invitationForm.email.$error" class="col-sm-9 col-sm-offset-3">
          <div ng-message="invitationForm.email.$error.backend">
            <span class="help-block">{{ invitationForm.email.$error.backend }}</span>
          </div>
        </div>
      </div>

      <!-- <div class="form-group" ng-class="{ 'has-error': invitationForm.role.$invalid && invitationForm.role.$dirty }">
        <label class="col-md-3 control-label no-padding-right">Role</label>

        <div class="col-sm-6">
          <input type="hidden" name="role" />
          <ui-select ng-model="user.role" theme="selectize" style="min-width:250px;">
            <ui-select-match placeholder="Selecione a role do usuário">
              {{$select.selected.name}}
            </ui-select-match>

            <ui-select-choices repeat="role in roles">
              <div class="col-md-12">
                <div ng-bind-html="role.name"></div>
              </div>
            </ui-select-choices>
          </ui-select>
        </div>

        <div ng-messages="invitationForm.role.$error" class="col-sm-9 col-sm-offset-2">
          <div ng-message="invitationForm.role.$error.backend">
            <span class="help-block">{{ invitationForm.role.$error.backend }}</span>
          </div>
        </div>
      </div> -->
    </fieldset>
  </div>

  <div class="modal-footer">
    <div class="wizard-actions my-form-actions">
      <!-- #section:plugins/fuelux.wizard.buttons -->
      <button class="btn btn-success" type="submit">
        <i class="ace-icon fa fa-check bigger-110"></i>
        Convidar
      </button>
    <!-- /section:plugins/fuelux.wizard.buttons -->
    </div>
  </div>
</form>