
<div class="col-md-1">
  <a class="btn btn-app btn-primary no-radius" mymodal modaltemplate="templates/users/invite.html" modalctrl="InviteUserCtrl" modalsize="lg">
    Adicionar
  </a>
</div>

<div class="col-md-11">
  <form class="form-inline" role="form" id="searchForm" on-submit="javascript: return false;">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-search ace-icon bigger-200"></i>
        </div>
        <input class="form-control" type="input" placeholder="Pesquisar" ng-model="search.user">
      </div>
    </div>
  </form>
</div>

<div id="users">
  <div ng-repeat="user in UserService.users | filter:search.user" class="col-md-3 user">
    <div class="userWrapper">
      <div class="col-md-3">
        <img ng-src="http://www.gravatar.com/avatar/{{ user.gravatar }}" />
      </div>
      <div class="col-md-9">
        <p>{{ user.name || 'sem nome' }}</p>
        <p>{{ user.email }}</p>
      </div>

      <label>
        <input class="ace ace-checkbox-2" type="checkbox" ng-checked="user.status" disabled>

        <span class="lbl"> confirmado</span>
      </label>
      
      <a href="javascript:;" ng-click="UserService.destroy(user.id)" class="removeButton"><i class="glyphicon-remove ace-icon glyphicon"></i></a>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>