<div class="col-md-2">
  <span class="profile-picture">
    <img id="user_avatar"
         file-input="#user_image_input"
         submit-url="/users/{{user.id}}.json"
         error="error(response)"
         success="success(response)"
         class="editable img-responsive editable-click editable-empty"
         src="{{user.image.big}}"
         style="display: block;"
         file-input-condition="{{ user.id == session.currentUser.id }}"></img>
  </span>

  <input id="user_image_input" type="file" name="user[image]" file-model="user.image" style="display:none" />
</div>

<div class="profile-user-info-striped col-md-4">
  <div class="profile-info-row">
    <div class="profile-info-name"> Nome </div>

    <div class="profile-info-value">
      <span editable-text="user.name" editable-condition="{{ user.id == session.currentUser.id }}" onbeforesave="saveUser('name', $data)">{{ user.name || 'n/a'}}</span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> Sobre mim </div>

    <div class="profile-info-value">
      <span editable-textarea="user.about_me" editable-condition="{{ user.id == session.currentUser.id }}" onbeforesave="saveUser('about_me', $data)">{{ user.about_me || 'n/a' }}</span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> Email </div>

    <div class="profile-info-value">
      <span editable-text="user.email" editable-condition="{{ user.id == session.currentUser.id }}" onbeforesave="saveUser('email', $data)">{{ user.email }}</span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> Função </div>

    <div class="profile-info-value">
      <span ng-model="user.role_id"
            editable-select="user.role_id"
            editable-condition="{{ user.id == session.currentUser.id }}"
            e-ng-options="r.id as r.name for r in roles"
            onbeforesave="saveUser('role_id', $data)">{{(user.role && user.role.name) || 'nenhuma' }}</span>
    </div>
  </div>
</div>

<div class="col-md-6">
  <discussion-widget user-id="{{ user.id }}"></discussion-widget>
</div>