<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li ng-repeat="item in breadcrumb.items track by $index">
      <i class="{{ item.icon }}" ng-show="item.icon"></i>
      <a href="javascript:;" ui-sref="{{ item.link || '#' }}" ng-show="item.link">{{ item.label }}</a>

      <span ng-show="!item.link">{{ item.label }}</span>
    </li>
  </ul><!-- /.breadcrumb -->
</div>

<!--  -->