<div class="navbar-buttons navbar-header pull-right" role="navigation">
  <ul class="nav ace-nav">
    <!-- #section:basics/navbar.user_menu -->
    <li class="light-blue">
      <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img ng-src="http://www.gravatar.com/avatar/{{ session.currentUser.email|md5 }}" />
        <span class="user-info">
          <small>Bem vindo,</small>
          {{ session.currentUser.name }}
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
      </a>

      <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
          <a href="javascript:;" ui-sref="private.user_view({userId: session.currentUser.id})">
            <i class="ace-icon fa fa-user"></i>
            Perfil
          </a>
        </li>

        <li class="divider"></li>

        <li>
          <a href="javascript:;" ng-click="session.logout()">
            <i class="ace-icon fa fa-power-off"></i>
            Sair
          </a>
        </li>
      </ul>
    </li>
    <!-- /section:basics/navbar.user_menu -->
  </ul>
</div>