<ul class="nav nav-list" style="top: 0px;">
  <li class="hsub">
    <a href="javascript:;" n-class="dropdown-toggle" ui-sref="private.tasks">
      <i class="menu-icon fa fa-tasks"></i>
      <span class="menu-text"> Minhas Tarefas </span>
    </a>
  </li>

  <li class="hsub">
    <a href="javascript:;" n-class="dropdown-toggle" ui-sref="private.projects">
      <i class="menu-icon fa fa-clock-o"></i>
      <span class="menu-text"> Meu Timelog </span>
    </a>
  </li>

  <li class="hsub">
    <a href="javascript:;" n-class="dropdown-toggle" ui-sref="private.discussions">
      <i class="menu-icon fa fa-weixin"></i>
      <span class="menu-text"> Minhas Discussões </span>
    </a>
  </li>

  <li class="hsub">
    <a href="javascript:;" n-class="dropdown-toggle" ui-sref="private.projects">
      <i class="menu-icon fa fa-list"></i>
      <span class="menu-text"> Projetos </span>
    </a>
  </li>

  <li class="">
    <a href="javascript:;" ui-sref="private.users">
      <i class="menu-icon fa fa-users"></i>
      <span class="menu-text"> Usuários </span>

    </a>

    <b class="arrow"></b>
  </li>

  <li class="">
    <a href="javascript:;" class="dropdown-toggle">
      <i class="menu-icon fa fa-cogs"></i>
      <span class="menu-text"> Administrar </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu nav-hide" style="display:none">
      <li class="">
        <a href="javascript:;" ui-sref="private.roles">
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text"> Roles de usuário </span>
        </a>

        <b class="arrow"></b>
      </li>
    </ul>
  </li>
</ul>