/*
 *= require bootstrap.min
 *= require ace_template/font-awesome.min
 *= require ace_template/ace-fonts
 *= require ace_template/ace.min
 *= require ace_template/ace-skins.min
 *= require ace_template/ace-rtl.min
 *= require ace_template/dropzone
 *= require ace_template/daterangepicker-bs3
 *= require angular-gantt
 *= require select.min
 *= require selectize2-theme
 *= require textAngular
 *= require angular-xeditable.min
 */

.profile-activity .content * {
  background: transparent !important;
}

#discussion_content {
  position: relative;
}

#discussion_content .ta-bind {
  padding-bottom: 50px;
  min-height: 220px;
}

#discussion_content .ta-scroll-window {
  min-height: 220px;
}

#discussion_content .actions {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

#profile-feed-1 {
  margin-top: 15px;
}

.profile-activity a.user {
   color: #428bca;
}

.profile-activity .tools {
  display: block;
  right: 15px;
}

.profile-activity img {
  max-width: none;
  border-radius: 0;
}

#task-list-header .btn-group {
  margin: 2px;
}

.btn-group .btn-yellow.active {
  background-color: #f7d05b !important;
}

#favorite-projects p.alert, .projects p.alert {
  text-align:center;
  font-weight:bold;
}

#favorites {
  margin-top:25px;
}

.table {
  margin-top:25px;
 }

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical-align img {
    vertical-align: middle;
}

.editable-controls textarea.form-control {
  height: auto;
}

.editable-controls .form-control {
  height: 30px;
}

.btn.btn-app.btn-xs.btn-task-status {
  width: 40px;
  border-radius: 25px;
  font-size: 9px;
  border-radius: 8px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.profile-user-info-striped {
  padding-left:0;
  padding-right:0;
}

.profile-info-value {
  width:100%;
}

.tab-content.no-border {
  margin-top: 25px;
}

.progress {
  margin-bottom:0;
}

table.table tbody td {
  vertical-align: middle;
}

table.table tbody td .btn {
  padding: 0px 12px;
}

.login-layout a {
  cursor: pointer;
 }

 #users .user {
  margin-top: 25px;
 }

 .projects .project {
  margin: 12px 0px;
 }

 #users .user .userWrapper, .projects .project .projectWrapper {
  border: 1px solid #ccc;
  position: relative;
 }

 #users .user p, .projects .project p {
  margin: 0px;
 }

 #users .user label .lbl, .projects .project label .lbl {
  font-size: 12px;
 }

 #users .user label, .projects .project label {
  position: absolute;
  bottom: 0px;
  right: 5px;
 }

 #searchForm .input-group {
  margin: 2px;
 }

 #searchForm input {
  padding: 24px 4px 24px;
  font-size: 16px;
 }

.removeButton, .project-action-list {
  position: absolute;
  right: 0.3%;
  top: 2%; 
}

.wizard-steps {
  margin-bottom: 5%;
}

.wizard-actions, .my-form-actions {
  text-align: right;
}

.wizard.complete .btn-next i {
  display:none;
}

.cancel-modal {
  position: absolute;
  right: 10px;
  top: 15px;
}

/*
 * COLOR PICKER http://ng-color-picker.herokuapp.com/color-picker.css
 */
ng-color-picker ul {
    padding: 0;
    margin: 0;
    height: 25px;
    margin-left:10px;
    position: absolute;
}

ng-color-picker li { 
    width:20px;
    height:20px;
    box-sizing:border-box;
    display:inline-block;
    position: absolute;
    z-index: 0;
    margin-right: 2px;
    text-align:center;
    color: #EEE;
}

ng-color-picker li i.glyphicon { 
  display:none;
}

ng-color-picker li.selected i { 
  display:block;
  top: 2px;
}

ng-color-picker ul.color-picker-opened li {
  position: relative;
}

ng-color-picker ul.color-picker-opened li.selected {
  top: -7px;
}

ng-color-picker li.selected {
    z-index: 9999;
}

.table .tableActions {
  text-align:center;
}

#confirmProject dl {
  font-size: 16px;
}

#projectPhaseFields .control-label {
  width: 75px;
  padding-top: 5px;
}

.colorPicker {
  margin-top: 5px;
}

#project_phases tr.destroyed {
  display:none;
}

.navbar-buttons img {
  width: 35px;
  margin-right: 5px;
}

.projectWrapper, .userWrapper {
  height:80px;
}

.projectWrapper .img {
  height:80px;
}

input.inline {
  border:0;
  border-bottom: 1px dashed #333;
  background: none;
  padding: 0;
}

#newTaskForm input.inline {
  font-size:22px;
}

.ta-toolbar.btn-toolbar {
  margin: 0;
}

#task-list-table {
  margin-top: 25px;
}

td .btn-toolbar {
  margin-left: 0;
}